<div class="edit-block block-bg block-shadow">
  <form
    [formGroup]="checkoutForm"
    (ngSubmit)="checkoutForm.valid && onSubmit()"
  >
    <div class="input-block">
      <label for="title"> Title </label>
      <br />
      <input id="title" type="text" formControlName="title" required />
      <div *ngIf="checkoutForm.get('title')?.touched || !checkoutForm.valid">
        <span class="invalid">Required*</span>
      </div>
    </div>

    <div class="input-block">
      <label for="description"> Description </label>
      <br />
      <textarea
        id="description"
        rows="10"
        formControlName="description"
      ></textarea>
    </div>
    <div class="input-block">
      <label for="deadline">Deadline date</label>
      <br />
      <input id="deadline" type="date" formControlName="deadline" />
    </div>
    <div class="button-container">
      <button class="goback-button" (click)="goBack()">Back</button>
      <button class="submit-button" type="submit">Apply</button>
    </div>
  </form>
</div>
